.message {
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.vertical-center {
    margin: 0;
    position: absolute;
    left: 50%;
    margin-top: 10px;
}
