<ng-container *ngIf="user">
  <div class="card card-custom" [formGroup]="formGroup">
    <!-- begin::Loading -->
    <ng-container>
      <div class="progress progress-modal">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
          role="progressbar"
          style="width: 100%"
          aria-valuenow="100"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </ng-container>
    <!-- end::Loading -->
    <!--begin::Header-->
    <div class="card-header py-3">
      <div class="card-title align-items-start flex-column">
        <h3 class="card-label font-weight-bolder text-dark">تغییر رمزعبور</h3>
        <span class="text-muted font-weight-bold font-size-sm mt-1">تغییر رمزعبور حساب کاربری</span>
      </div>
      <div class="card-toolbar">
        <button type="submit" [disabled]="formGroup.invalid" class="btn btn-success mr-2" (click)="save()">ذخیره تغییرات</button>
        <button type="reset" class="btn btn-secondary" (click)="cancel()">لغو</button>
      </div>
    </div>
    <!--end::Header-->
    <!--begin::Form-->
    <div class="form">
      <div class="card-body">
        <!--begin::Alert-->
        <div class="alert alert-custom alert-light-danger fade show mb-10" role="alert">
          <div class="alert-icon">
            <span class="svg-icon svg-icon-3x svg-icon-danger"
              [inlineSVG]="'./assets/media/svg/icons/Code/Info-circle.svg'"
              cacheSVG="true"
            >
            </span>
          </div>
          <div class="alert-text font-weight-bold">
              گذرواژه های کاربر را برای منقضی شدن دوره ای پیکربندی کنید. کاربران نیاز خواهند داشت
              به آنها هشدار داده شود که گذرواژه های آنها منقضی می شود ،
              و ممکن است ناخواسته از سیستم خارج شوند!
          </div>
          <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">
                <i class="ki ki-close"></i>
              </span>
            </button>
          </div>
        </div>
        <!--end::Alert-->
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label text-alert">رمزعبور جاری</label>
          <div class="col-lg-9 col-xl-6">
            <input type="text"
              class="form-control form-control-lg form-control-solid mb-2"
              placeholder="رمزعبور جاری"
              autocomplete="off"
              formControlName="currentPassword"
              [class.is-invalid]="isControlInvalid('currentPassword')"
              [class.is-valid]="isControlValid('currentPassword')" 
            />
            <div class="valid-feedback" *ngIf="isControlValid('currentPassword')">رمزعبور جاری به درستی وارد شده است</div>
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'currentPassword')">وارد کردن رمزعبور جاری اجباری است</div>
            <a class="text-sm font-weight-bold cursor-pointer">رمزعبور خود را فراموش کرده اید؟</a>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label text-alert">رمزعبور جدید</label>
          <div class="col-lg-9 col-xl-6">
              <input type="text"
                     class="form-control form-control-lg form-control-solid"
                     placeholder="رمزعبور جدید"
                     autocomplete="off"
                     formControlName="pass"
                     [class.is-invalid]="isControlInvalid('pass')"
                     [class.is-valid]="isControlValid('pass')" />
              <div class="valid-feedback" *ngIf="isControlValid('pass')">رمزعبور جدید به درستی وارد شده است</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'pass')">وارد کردن رمزعبور جدید اجباری است</div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label text-alert">تکرار رمزعبور</label>
          <div class="col-lg-9 col-xl-6">
            <input type="text"
              class="form-control form-control-lg form-control-solid"
              placeholder="تکرار رمزعبور جدید"
              autocomplete="off"
              formControlName="confirmPass"
              [class.is-invalid]="isControlInvalid('confirmPass')"
              [class.is-valid]="isControlValid('confirmPass')" 
            />
            <div class="valid-feedback" *ngIf="isControlValid('confirmPass')">تکرار رمزعبور به درستی وارد شده است</div>
            <div class="invalid-feedback" *ngIf="controlHasError('ConfirmPassword', 'confirmPass')">'رمزعبور جدید و تکرار رمزعبور جدید مطابقت ندارد.</div> 
          </div>
        </div>
      </div>
    </div>
    <!--end::Form-->
  </div>
</ng-container>