<div class="card card-custom gutter-b">
    <div class="card card-custom gutter-b">
        <div class="card-header">
            <div class="card-title">
                <h3 class="card-label">UserAccounts list</h3>
            </div>
            <!--<div class="card-toolbar">
                <button type="button" class="btn btn-primary" (click)="create()">New User</button>
            </div>-->
        </div>

    </div>
    <app-techland-grid #techLandGrid [entityService]="userAccountService"></app-techland-grid>

</div>