<div class="card card-custom gutter-b">
    <ng-container>
        <div class="progress progress-modal">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                 role="progressbar"
                 style="width: 100%"
                 aria-valuenow="100"
                 aria-valuemin="0"
                 aria-valuemax="100"></div>
        </div>
    </ng-container>

    <div class="card-header">
        <div class="card-toolbar">
            <a type="button" class="btn btn-light" routerLink="/ecommerce/products">
                <i class="fa fa-arrow-left"></i>بازگشت
            </a>
            <button class="btn btn-secondary ml-2" (click)="reset()">
                <i class="fa fa-redo"></i>Reset
            </button>
        </div>
    </div>
    <div class="card-body">
        <ul class="nav nav-tabs nav-tabs-line" role="tablist">
            <li class="nav-item cursor-pointer">
                <a class="nav-link"
                   data-toggle="tab"
                   role="tab"
                   [attr.aria-selected]="activeTabId === tabs.BASIC_TAB"
                   [class.active]="activeTabId === tabs.BASIC_TAB">
                    نقش
                </a>
            </li>
        </ul>

        <ng-container *ngIf="activeTabId === tabs.BASIC_TAB">
            <div class="mt-4">
                <form action="#"
                      class="form form-label-right"
                      [formGroup]="formGroup"
                      (ngSubmit)="save()">
                    <div class="form-group row">
                        <div class="col-lg-6">
                            <label>نام نقش</label>
                            <input type="text"
                                   class="form-control"
                                   placeholder="نام نقش"
                                   name="roleName"
                                   [(ngModel)]="role.roleName"
                                   [class.is-invalid]="isControlInvalid('roleName')"
                                   [class.is-valid]="isControlValid('roleName')"
                                   formControlName="roleName" />
                            <div class="feedback" *ngIf="!isControlTouched('roleName')">
                                لطفا نام نقش را وارد کنید
                            </div>
                            <div class="valid-feedback" *ngIf="isControlValid('roleName')">
                                نام نقش صحیح می باشد
                            </div>
                            <div class="invalid-feedback"
                                 *ngIf="controlHasError('required', 'roleName')">
                                نام نقش اجباری است
                            </div>
                            <div class="invalid-feedback"
                                 *ngIf="controlHasError('minlength', 'roleName')">
                                حداقل 3 کاراکتر
                            </div>
                            <div class="invalid-feedback"
                                 *ngIf="controlHasError('maxLength', 'roleName')">
                                حداکثر 40کاراکتر
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-6">
                            <label>عنوان نقش</label>
                            <input type="text"
                                   class="form-control"
                                   placeholder="عنوان نقش"
                                   name="roleName"
                                   [(ngModel)]="role.roleTitle"
                                   [class.is-invalid]="isControlInvalid('roleTitle')"
                                   [class.is-valid]="isControlValid('roleTitle')"
                                   formControlName="roleTitle" />
                            <div class="feedback" *ngIf="!isControlTouched('roleTitle')">
                                لطفا عنوان نقش را وارد کنید
                            </div>
                            <div class="valid-feedback" *ngIf="isControlValid('roleTitle')">
                                عنوان نقش صحیح می باشد
                            </div>
                            <div class="invalid-feedback"
                                 *ngIf="controlHasError('required', 'roleTitle')">
                                عنوان نقش اجباری است
                            </div>
                            <div class="invalid-feedback"
                                 *ngIf="controlHasError('minlength', 'roleTitle')">
                                حداقل 3 کاراکتر
                            </div>
                            <div class="invalid-feedback"
                                 *ngIf="controlHasError('maxLength', 'roleTitle')">
                                حداکثر 40کاراکتر
                            </div>
                        </div>
                    </div>
                    <div class="float-right">
                        <a class="btn btn-default font-weight-bold mr-2"
                           routerLink="/ecommerce/products">لغو</a>
                        <button type="submit"
                                class="btn btn-primary font-weight-bold mr-2"
                                [disabled]="formGroup.invalid">
                            ثبت
                        </button>
                    </div>
                </form>
            </div>
        </ng-container>
    </div>
</div>
