<div class="d-flex flex-column flex-root h-100" id="kt_login_wrapper" style="background-color: #E4E5E6">

    <!--<div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">-->

        <!--<div class="login-aside d-flex flex-column flex-row-auto" style="background-color: #F2C98A;">
    
            <div class="d-flex flex-column-auto flex-column pt-lg-40 pt-15">
     
                <a href="#" class="text-center mb-10">
                    <img src="./assets/media/logos/logo-letter-1.png" class="max-h-70px" alt="" />
                </a>
            
                <h3 class="font-weight-bolder text-center font-size-h4 font-size-h1-lg" style="color: #986923;">
                    Discover Amazing Metronic<br />
              
                </h3>
        
            </div>
            
            <div class="aside-img d-flex flex-row-fluid bgi-no-repeat bgi-position-y-bottom bgi-position-x-center"
                 style="background-image: url('./assets/media/svg/illustrations/login-visual-1.svg')"></div>
 
        </div>-->
       
        <div
          class="login-content flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden md-auto">

        <div>
            <router-outlet></router-outlet>
        </div>

 
        <!--<div class="d-flex justify-content-lg-start justify-content-center align-items-end py-7 py-lg-0">
          <a href="#" class="text-primary font-weight-bolder font-size-h5">Terms</a>
          <a href="#" class="text-primary ml-10 font-weight-bolder font-size-h5">Plans</a>
          <a href="#" class="text-primary ml-10 font-weight-bolder font-size-h5">Contact Us</a>
        </div>-->
        </div>
 
    <!--</div>-->

</div>